<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestPro</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <context-param>
    <param-name>name</param-name>
    <param-value>shenyuan</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>shenyuanhahaha</param-value>
  </context-param>
  <servlet>
    <servlet-name>MyFirstServlet</servlet-name>
    <servlet-class>com.yuanwill.servlet.MyFirstServlet</servlet-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc://haha//lala</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFirstServlet</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QuickStartServlet2</display-name>
    <servlet-name>QuickStartServlet2</servlet-name>
    <servlet-class>com.yuanwill.servlet.QuickStartServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuickStartServlet2</servlet-name>
    <url-pattern>/quickStartServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.yuanwill.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContext</display-name>
    <servlet-name>ServletContext</servlet-name>
    <servlet-class>com.yuanwill.ContextServlet.ServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContext</servlet-name>
    <url-pattern>/servletContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextTest</display-name>
    <servlet-name>ServletContextTest</servlet-name>
    <servlet-class>com.yuanwill.ContextServlet.ServletContextTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextTest</servlet-name>
    <url-pattern>/servletContextTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextTest2</display-name>
    <servlet-name>ServletContextTest2</servlet-name>
    <servlet-class>com.yuanwill.ContextServlet.ServletContextTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextTest2</servlet-name>
    <url-pattern>/servletContextTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextTest3</display-name>
    <servlet-name>ServletContextTest3</servlet-name>
    <servlet-class>com.yuanwill.ContextServlet.ServletContextTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextTest3</servlet-name>
    <url-pattern>/servletContextTest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextTest6</display-name>
    <servlet-name>ServletContextTest6</servlet-name>
    <servlet-class>com.yuanwill.ContextServlet.ServletContextTest6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextTest6</servlet-name>
    <url-pattern>/servletContextTest6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseTest1</display-name>
    <servlet-name>ResponseTest1</servlet-name>
    <servlet-class>com.yuanwill.response.ResponseTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseTest1</servlet-name>
    <url-pattern>/responseTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseTest2</display-name>
    <servlet-name>ResponseTest2</servlet-name>
    <servlet-class>com.yuanwill.response.ResponseTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseTest2</servlet-name>
    <url-pattern>/ResponseTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseTest3</display-name>
    <servlet-name>ResponseTest3</servlet-name>
    <servlet-class>com.yuanwill.response.ResponseTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseTest3</servlet-name>
    <url-pattern>/ResponseTest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseTest4</display-name>
    <servlet-name>ResponseTest4</servlet-name>
    <servlet-class>com.yuanwill.response.ResponseTest4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseTest4</servlet-name>
    <url-pattern>/ResponseTest4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseTest5</display-name>
    <servlet-name>ResponseTest5</servlet-name>
    <servlet-class>com.yuanwill.response.ResponseTest5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseTest5</servlet-name>
    <url-pattern>/ResponseTest5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadServlet</display-name>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>com.yuanwill.response.downloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/downloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestTest1</display-name>
    <servlet-name>requestTest1</servlet-name>
    <servlet-class>com.yuanwill.request.requestTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestTest1</servlet-name>
    <url-pattern>/requestTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequsetTest2</display-name>
    <servlet-name>RequsetTest2</servlet-name>
    <servlet-class>com.yuanwill.request.RequsetTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequsetTest2</servlet-name>
    <url-pattern>/RequsetTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestTest3</display-name>
    <servlet-name>RequestTest3</servlet-name>
    <servlet-class>com.yuanwill.request.RequestTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTest3</servlet-name>
    <url-pattern>/RequestTest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestTest4</display-name>
    <servlet-name>RequestTest4</servlet-name>
    <servlet-class>com.yuanwill.request.RequestTest4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTest4</servlet-name>
    <url-pattern>/RequestTest4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReuqestTest5</display-name>
    <servlet-name>ReuqestTest5</servlet-name>
    <servlet-class>com.yuanwill.request.ReuqestTest5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReuqestTest5</servlet-name>
    <url-pattern>/ReuqestTest5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.yuanwill.register.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieTest1</display-name>
    <servlet-name>CookieTest1</servlet-name>
    <servlet-class>com.yuanwill.cookie.CookieTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest1</servlet-name>
    <url-pattern>/CookieTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieTest2</display-name>
    <servlet-name>CookieTest2</servlet-name>
    <servlet-class>com.yuanwill.cookie.CookieTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest2</servlet-name>
    <url-pattern>/CookieTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieTest3</display-name>
    <servlet-name>CookieTest3</servlet-name>
    <servlet-class>com.yuanwill.cookie.CookieTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieTest3</servlet-name>
    <url-pattern>/CookieTest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest1</display-name>
    <servlet-name>SessionTest1</servlet-name>
    <servlet-class>com.yuanwill.session.SessionTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest1</servlet-name>
    <url-pattern>/SessionTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest2</display-name>
    <servlet-name>SessionTest2</servlet-name>
    <servlet-class>com.yuanwill.session.SessionTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest2</servlet-name>
    <url-pattern>/SessionTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferServlet</display-name>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>www.yuanwill.transfer.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/transferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServlet</display-name>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.yuanwill.ajax.AjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/ajaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletTwo</display-name>
    <servlet-name>AjaxServletTwo</servlet-name>
    <servlet-class>com.yuanwill.ajax.AjaxServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletTwo</servlet-name>
    <url-pattern>/ajaxServletTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxServletThree</display-name>
    <servlet-name>AjaxServletThree</servlet-name>
    <servlet-class>com.yuanwill.ajax.AjaxServletThree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxServletThree</servlet-name>
    <url-pattern>/ajaxServletThree</url-pattern>
  </servlet-mapping>
</web-app>